In [1]:
print("hello")

hello

In [2]:
print(1+1)

2

In [4]:
a = "5"
print(a)
print(type(a))

5
<class 'str'>

In [6]:
num1 = int(input("Enter number 1:"))
num2 = int(input("Enter number 2:"))
print(num1 + num2)

36

In [9]:
a = 100
b = 100.0
c ="100"
d = True;

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
my_file = open("output_file.txt",'w')

vars = "This is a string\n"
my_file.write(vars)

var3 = 10
my_file.write(str(var3))

my_file.write("\n")

var4 = 20.0
my_file.write(str(var4))

my_file.close()

In [11]:
my_file = open("output_file.txt",'r')
content = my_file.read()
print(content)
my_file.close()

This is a string
10
20.0

In [13]:
my_file = open("output_file.txt",'r')

vars = my_file.readline()
var5 = my_file.readline()
var6 = my_file.readline()

print("String: ", vars)
print("Integer: ", var5)
print("Float: ", var6)

print("String: ", type(vars))
print("Integer: ", type(var5))
print("Float: ", type(var6))
my_file.close()

String:  This is a string

Integer:  10

Float:  20.0
String:  <class 'str'>
Integer:  <class 'str'>
Float:  <class 'str'>

In [22]:
print(5/2)
print(5//2)
print(5.0//2)
print("hello" + "world")
print(10+3*5**2)
print("hello"*5)

2.5
2
2.0
helloworld
85
hellohellohellohellohello

In [23]:
a = [ 1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [24]:
a= [ 1, "2" , 3 ]
print(a)
print(type(a))

[1, '2', 3]
<class 'list'>

In [27]:
a = 10;
b = 12
if (a < b) :
    print("a is smalle")
    print(a)
else:
    print("a is not smaller")
    print(b)

a is smalle
10
12

In [28]:
a = [2,4,6,7,9]
for x in a:
    print(x**2)

4
16
36
49
81

In [32]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

## Lists

In [40]:
x = [2, 5 , 3, 8, 6]
print(x)
print(x[1])
print(x[-1])

[2, 5, 3, 8, 6]
5
6

In [41]:
x.append(10)
print(x)

[2, 5, 3, 8, 6, 10]

In [42]:
x.append("test")
print(x)

[2, 5, 3, 8, 6, 10, 'test']

In [49]:
print(x)
print(x[2])
print(x[1:3])
print(x[:3])
print(x[3:])
print(x[:])
print(x[:-1])

[2, 5, 3, 8, 6, 10, 'test']
3
[5, 3]
[2, 5, 3]
[8, 6, 10, 'test']
[2, 5, 3, 8, 6, 10, 'test']
[2, 5, 3, 8, 6, 10]

In [52]:
print(x)
x[1:3] = [1, 2, -1]
print(x)

[2, 0, 0, 0, 8, 6, 10, 'test']
[2, 1, 2, -1, 0, 8, 6, 10, 'test']

In [53]:
A = [ 2, 3, 6, 4, 7]
B = []

for x in A:
    B.append(x**2)

print(B)

[4, 9, 36, 16, 49]

In [54]:
A = {'a':'cat','b':'dog',1:'bird'}
print(A)

{'a': 'cat', 'b': 'dog', 1: 'bird'}

In [56]:
print(A['a'])
print(A[1])

cat
bird

In [57]:
A['c'] = "car"
print(A)

{'a': 'cat', 'b': 'dog', 1: 'bird', 'c': 'car'}

In [59]:
for key in A:
    print(f"{key} : {A[key]}")

a : cat
b : dog
1 : bird
c : car

In [60]:
S = {'a','b',1,'223'}
print(S)

{'223', 1, 'b', 'a'}

In [64]:
S.add('c')
print(S)
S.add('a')
print(S)

{1, '223', 'a', 'b', 'c'}
{1, '223', 'a', 'b', 'c'}

In [68]:
d = {(x, x + 1): x for x in range(5)}  # Create a dictionary with tuple keys
print(d)
t = (2,3)
print(d[t])

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4}
2